@media screen and (min-width: 475px) {

    nav{
        max-width: 70vw;
    }

    #container{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 100px;
    }

    #img-and-thumbs{
        width: 30%;
        margin: 0 5%;
    }

    #thumbs-container{
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        flex-wrap: wrap;
    }

    #thumbs-container img{
        width: 20%;
        border-radius: 10px;
        margin: 10px;
    }


    #actual-image{
        width: 100%;
        border-radius: 20px;
    }    

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 40%;
        max-height: 100%;
    }

    #prices{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }


    #buy-area{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #add-to-cart{
        min-width: 40%;
        padding: 20px;
        margin-left: 10px;
    }

    #quantity-area{
        width: 20%;
        height: 10%;
    }

    #mobile-cart{
        top: 50px;
        left: calc(75% - 40px);
    }
}