*{
    padding: 0;
    margin: 0;
}

:root{
    --mobile: 375px;
    --desktop: 1440px;
    --primary-orange: hsl(26, 100%, 55%);
    --primary-paleorange: hsl(25, 100%, 94%);
    --neutral-vdblue: hsl(220, 13%, 13%);
    --neutral-gblue: hsl(220, 14%, 75%);
    --neutral-lightgray: blue: hsl(223, 64%, 98%);
    --white: white;
    --black: black;
    --lightbox: hsl(0, 0%, 0%, 75%);
    --paragraph: 16px;
    --font-family: 'Kumbh Sans', sans-serif;
    --font-light: 400;
    --font-heavy: 700;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav div{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#avatar{
    width: 50%;
}

#images-container{
    position: relative;
}

#actual-image{
    max-width: 100%;
}

#previous-img, #next-img{
    position: absolute;
}

#previous-img{
    top: 50%;
    left: 20px;
}

#next-img{
    top: 50%;
    right: 20px;
}