*{
    padding: 0;
    margin: 0;
}

:root{
    --mobile: 375px;
    --desktop: 1440px;
    --primary-orange: hsl(26, 100%, 55%);
    --primary-paleorange: hsl(25, 100%, 94%);
    --neutral-vdblue: hsl(220, 13%, 13%);
    --neutral-gblue: hsl(220, 14%, 75%);
    --neutral-lightgray: hsl(223, 64%, 98%);
    --white: white;
    --black: black;
    --lightbox: hsl(0, 0%, 0%, 75%);
    --paragraph: 16px;
    --font-family: 'Kumbh Sans', sans-serif;
    --font-light: 400;
    --font-heavy: 700;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
    font-family: var(--font-family);
}

/********************  TOP *****************************/
nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#avatar{
    width: 30%;
}

/*********************  IMAGES ***********************/
#images-container{
    position: relative;
}

#actual-image{
    max-width: 100%;
}

#previous-img, #next-img{
    position: absolute;
}

#previous-img{
    top: 50%;
    left: 20px;
}

#next-img{
    top: 50%;
    right: 20px;
}

.img-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    border-radius: 50%;
    padding: 20px;
}

/************************* PRODUCT INFO **************************/
#text-container{
    padding: 20px;
}

#text-container article{
    margin: 20px 0px;
}

#company{
    text-transform: uppercase;
    color: var(--primary-orange);
    font-weight: var(--font-heavy);
}

#product-info *{
    margin: 10px 0px;
}

#product-name{
    color: var(--black);
    font-weight: var(--font-heavy);
    font-size: 2.2em;
}

#small-text{
    color: var(--neutral-gblue);
}

/******************** PRICES *********************/
#prices{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#discount{
    display: flex;
    align-items: center;
}

#price-with-discount{
    font-weight: var(--font-heavy);
    font-size: 2.2rem;
    margin-right: 20px;
}

#discount-percentage{
    font-weight: var(--font-heavy);
    color: var(--primary-orange);
    background: var(--primary-paleorange);
    padding: 5px;
    border-radius: 5px;
}

#original-price{
    text-decoration: line-through;
    color: var(--neutral-gblue);
}

/****************** BUY AREA ******************************/
#buy-area{
}
#quantity-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--neutral-lightgray);
    padding: 20px;
    border-radius: 10px;
}


#add-to-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin: 10px 0px;
    padding: 10px;
    background: var(--primary-orange);
    color: var(--white);
    font-weight: var(--font-heavy);
    border-radius: 10px;
    cursor: pointer;
}

#add-to-cart p{
    margin: 0px 20px;
}